body {
    background-color:black;
    color:coral;
  }

  h1 {
    color:lightgrey;
    text-align:center;
    font-family:'Verdana';
  }
h4 {
    color:lightgrey;
    font-family:'Verdana';
}
.location {
    color: azure;
    font-size: 14;
}
.footer {
    color:lightgray;
    font-size: 8;
    text-align: center;
}

  
